div {
	border-radius: 15px;
}

html {
	background-color: #779EFF;
}

#image {
	width: 600px;
	height: 400px;
	display: inline-block;
	border-radius: 10px;
	border-color: #ffffff;
}

#image1 {
	width: 1000px;
	height: 600px;
	display: inline-block;
	border-radius: 10px;
	border-color: #ffffff;
}

#image2 {
	width: 400px;
	height: 600px;
	display: inline-block;
	border-radius: 10px;
	border-color: #ffffff;
}

#header {
	z-index: 1;
	position: relative;
	width: 100%;
	margin-top: 0px;
	height: 60px;
	background-color: #1E2840;
	margin-bottom: 5px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, Sans-Serif, Serif;
	color: #ffffff;
}

#email{
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, Sans-Serif, Serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-size: 25px;
	font-family: Verdana, Sans-Serif, Serif;
	text-align: center;
}

.text p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Verdana, Sans-Serif, Serif;
	color: #000000;
}

.menu p,h3 {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 15px;
	font-family: Verdana, Sans-Serif, Serif;
	color: #ffffff;
}

.menu li {
	color: #ffffff;
}

li {
	list-style-type: square;
	font-family: Verdana, Sans-Serif, Serif;
	font-size: 15px;
}
ol {
	font-family: Verdana, Sans-Serif, Serif;
	font-size: 15px;
}

.menu {
	position: fixed;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color: #3C4F7F;
	margin-top: 10px;
	margin-bottom: 10px;
}

.text {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 9500px;
	background-color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #1E2840;
	clear: both;
	font-family: Verdana, Sans-Serif, Serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}

a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: none;
}

.a1{
	color: #000000;
}